

 .u-header{
	
  background-color: #292E33 !important;
	display: inline-block;
    width: 100%;
	right: 170,5px;
    height: 140px; 
	
}
.arkaplan{
  background-color: #292E33;   
   width: 100%;
	right: 170,5px;
    height: 140px; 
    position:relative;
    z-index: 1;}
    .arkaplan2{background-color: #f2f2f2;}
.u-section-1 .u-sheet-1 {
  min-height: 862px;
}
.u-section-1 {
  background-image: none;
}
.u-section-1 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 30px 400px 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin: 39px auto 30px 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 349px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-icon-1 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  margin: 20px 37px 0;
}

.u-section-1 .u-text-3 {
  margin: 20px 0 0;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 349px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px;
}

.u-section-1 .u-icon-2 {
  height: 48px;
  width: 48px;
  margin: -1px auto 0;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 21px 43px 0 44px;
}

.u-section-1 .u-text-5 {
  margin: 20px 18px 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 349px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px;
}

.u-section-1 .u-icon-3 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-6 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 20px 96px 0 97px;
}

.u-section-1 .u-text-7 {
  margin: 19px 54px 0;
}

.u-section-1 .u-layout-cell-4 {
  min-height: 349px;
}

.u-section-1 .u-container-layout-4 {
  padding: 30px;
}

.u-section-1 .u-icon-4 {
  height: 48px;
  width: 48px;
  margin: 0 auto;
}

.u-section-1 .u-text-8 {
  font-weight: 700;
  text-transform: uppercase;
  margin: 19px 91px 0;
}

.u-section-1 .u-text-9 {
  margin: 20px 89px 0 0;
}

.u-section-1 .u-layout-cell-5 {
  min-height: 349px;
}

.u-section-1 .u-container-layout-5 {
  padding: 30px;
}

.u-section-1 .u-text-10 {
  margin-top: 0;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0;
}

.u-section-1 .u-text-11 {
  font-weight: 300;
  margin: 20px 257px 0 0;
}

.u-section-1 .u-form-1 {
  margin: 30px auto 0 0;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: solid;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 360px;
    margin-left: 360px;
  }

  .u-section-1 .u-layout-wrap-1 {
    position: relative;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 287px;
  }

  .u-section-1 .u-text-2 {
    margin-left: 12px;
    margin-right: 12px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 244px;
  }

  .u-section-1 .u-text-4 {
    margin-left: auto;
    margin-right: 18px;
  }

  .u-section-1 .u-text-5 {
    margin-left: 14px;
    margin-right: 14px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 287px;
  }

  .u-section-1 .u-text-6 {
    margin-left: 75px;
    margin-right: 71px;
  }

  .u-section-1 .u-text-7 {
    margin-left: 29px;
    margin-right: 29px;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 287px;
  }

  .u-section-1 .u-text-8 {
    margin-left: auto;
    margin-right: 66px;
  }

  .u-section-1 .u-text-9 {
    margin-right: 39px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 265px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 157px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 732px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 250px;
    margin-left: 250px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-1 .u-icon-2 {
    margin-top: 0;
  }

  .u-section-1 .u-text-5 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-text-6 {
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-1 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-1 .u-text-11 {
    margin-right: 47px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1618px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 160px;
    margin-left: 160px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-3 {
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1055px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 60px;
    margin-left: 60px;
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-4 {
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-right: 0;
  }

  .u-section-1 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-8 {
    margin-right: 0;
  }

  .u-section-1 .u-text-9 {
    margin-right: 0;
  }

  .u-section-1 .u-text-11 {
    margin-right: 0;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 500px;
}

.u-section-2 .u-text-1 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.5rem;
  margin: 13px 940px 0 30px;
}

.u-section-2 .u-text-2 {
  margin: 21px 699px 0 19px;
}

.u-section-2 .u-map-1 {
  height: 354px;
  margin-top: 21px;
  margin-bottom: 40px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-text-1 {
    margin-right: 770px;
    margin-left: 0;
  }

  .u-section-2 .u-text-2 {
    margin-right: 518px;
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-text-1 {
    margin-right: 550px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 298px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-text-1 {
    margin-right: 370px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 118px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-text-1 {
    margin-right: 170px;
  }

  .u-section-2 .u-text-2 {
    margin-right: 0;
  }
}