.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 501px;
}

.u-section-1 .u-slider-1 {
  margin-top: 143px;
  margin-bottom: 0;
  min-height: 375px;
  height: auto;
}

.u-section-1 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 50px;
}

.u-section-1 .u-text-1 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 384px;
}

.u-section-1 .u-text-2 {
  width: 527px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-3 {
  margin-left: 443px;
  margin-right: 443px;
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin-top: 20px;
}

.u-section-1 .u-container-layout-2 {
  padding: 70px 30px 30px;
}

.u-section-1 .u-text-4 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: -30px -30px 0;
}

.u-section-1 .u-text-5 {
  width: 527px;
  margin: 20px auto 0;
}

.u-section-1 .u-text-6 {
  text-transform: uppercase;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 20px -30px 0;
}

.u-section-1 .u-carousel-control-1 {
  width: 50px;
  height: 50px;
  left: calc(((100% - 1140px) / 2)  + 486px);
  top: auto;
  position: absolute;
  right: auto;
  bottom: 53px;
}

.u-section-1 .u-carousel-control-2 {
  width: 50px;
  height: 50px;
  left: auto;
  top: auto;
  position: absolute;
  right: calc(((100% - 1140px) / 2)  + 491px);
  bottom: 53px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 284px;
    margin-right: 284px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 343px;
    margin-right: 343px;
  }

  .u-section-1 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-carousel-control-1 {
    left: calc(((100% - 940px) / 2)  + 386px);
  }

  .u-section-1 .u-carousel-control-2 {
    right: calc(((100% - 940px) / 2)  + 391px);
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 194px;
    margin-right: 194px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 253px;
    margin-right: 253px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-top: 30px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: calc(((100% - 720px) / 2)  + 276px);
  }

  .u-section-1 .u-carousel-control-2 {
    right: calc(((100% - 720px) / 2)  + 281px);
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 124px;
    margin-right: 124px;
  }

  .u-section-1 .u-text-2 {
    width: 520px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 183px;
    margin-right: 183px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-1 .u-text-5 {
    width: 520px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: calc(((100% - 540px) / 2)  + 186px);
  }

  .u-section-1 .u-carousel-control-2 {
    right: calc(((100% - 540px) / 2)  + 191px);
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
    margin-left: 24px;
    margin-right: 24px;
  }

  .u-section-1 .u-text-2 {
    width: 320px;
  }

  .u-section-1 .u-text-3 {
    margin-left: 83px;
    margin-right: 83px;
  }

  .u-section-1 .u-text-4 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-text-5 {
    width: 320px;
  }

  .u-section-1 .u-carousel-control-1 {
    left: calc(((100% - 340px) / 2)  + 86px);
  }

  .u-section-1 .u-carousel-control-2 {
    right: calc(((100% - 340px) / 2)  + 91px);
  }
}.u-section-2 .u-sheet-1 {
  min-height: 774px;
}

.u-section-2 .u-list-1 {
  width: 1140px;
  margin-top: 60px;
  margin-bottom: 60px;
  padding-bottom: 30px ;
  min-height: 847px;
  grid-template-columns: calc(33.3333% - 7px) calc(33.3333% - 7px) calc(33.3333% - 7px);
  grid-template-rows: auto;
  grid-gap: 10px 10px;
}

.u-section-2 .u-image-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/w1.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px;
}

.u-section-2 .u-text-1 {
  margin: 0 60px 0 1px;
}

.u-section-2 .u-text-2 {
  margin: 20px 1px 0;
}

.u-section-2 .u-image-2 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/p1.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-2 {
  padding: 30px;
}

.u-section-2 .u-text-3 {
  margin: 0 60px 0 1px;
}

.u-section-2 .u-text-4 {
  margin: 20px 1px 0;
}

.u-section-2 .u-image-3 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/fa.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px;
}

.u-section-2 .u-text-5 {
  margin: 0 60px 0 1px;
}

.u-section-2 .u-text-6 {
  margin: 20px 1px 0;
}

.u-section-2 .u-image-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/ww.jfif");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-4 {
  padding: 30px;
}

.u-section-2 .u-text-7 {
  margin: 0 60px 0 1px;
}

.u-section-2 .u-text-8 {
  margin: 20px 1px 0;
}

.u-section-2 .u-image-5 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.4), rgba(0,0,0,0.4)), url("images/tab.jpg");
  background-position: 50% 50%;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  animation-duration: 1000ms;
}

.u-section-2 .u-container-layout-5 {
  padding: 30px;
}

.u-section-2 .u-text-9 {
  margin: 0 60px 0 1px;
}

.u-section-2 .u-text-10 {
  margin: 20px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 625px;
  }

  .u-section-2 .u-list-1 {
    width: 940px;
    min-height: 698px;
    grid-template-columns: repeat(3, calc(33.333333333333336% - 7px));
  }

  .u-section-2 .u-text-1 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-2 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-3 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-4 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-5 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-9 {
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-2 .u-text-10 {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 916px;
  }

  .u-section-2 .u-list-1 {
    width: 720px;
    min-height: 710px;
    grid-template-columns: repeat(2, calc(50% - 5.25px));
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
    grid-template-columns: 100%;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }
}.btn{
 color:#e179e1 !important;
	background-color:#e179e1 !important;
	
} 
.u-list-1 :hover{
  transform: translateY(-10px);

}
#ana :hover{
  transform: translateY(0px);
}