.btn{
 color:#e179e1 !important;
 background-color:#e179e1 !important;
	
} 
 

.u-section-1 .u-image-1 {
	min-height: 542px;
	margin-left: 0; 
	margin-top: 0;
	
	width: 100%;
	background-image: url("images/children.jpg");
	background-position: 50% 11.27%;
  }
  header{
	color: aqua;
  }
  @media (max-width: 1199px) {
	.u-section-1 .u-image-1 {
	  min-height: 547px;
	}
  }
  
  @media (max-width: 767px) {
	.u-section-1 .u-image-1 {
	  min-height: 437px;
	}
  }
  
  @media (max-width: 575px) {
	.u-section-1 .u-image-1 {
	  min-height: 300px;
	}
  }.u-section-2 .u-sheet-1 {
	min-height: 498px;
  }
  
  .u-section-2 .u-text-1 {
	margin: 60px 0 0;
  }
  
  .u-section-2 .u-text-2 {
	font-size: 1.125rem;
	margin: 20px 0 0 794px;
  }
  
  .u-section-2 .u-text-3 {
	font-size: 1.125rem;
	margin: -30px 909px 0 0;
  }
  
  .u-section-2 .u-line-1 {
	width: 397px;
	height: 3px;
	transform-origin: left center 0px;
	border-style: solid;
	margin: 80px auto 20px 0;
  }
  
  @media (max-width: 1199px) {
	.u-section-2 .u-text-2 {
	  margin-left: 594px;
	}
  
	.u-section-2 .u-text-3 {
	  margin-right: 709px;
	}
  }
  
  @media (max-width: 991px) {
	.u-section-2 .u-text-2 {
	  margin-left: 374px;
	}
  
	.u-section-2 .u-text-3 {
	  margin-right: 489px;
	}
  }
  
  @media (max-width: 767px) {
	.u-section-2 .u-text-2 {
	  margin-left: 194px;
	}
  
	.u-section-2 .u-text-3 {
	  margin-right: 309px;
	}
  }
  
  @media (max-width: 575px) {
	.u-section-2 .u-text-2 {
	  margin-left: 0;
	}
  
	.u-section-2 .u-text-3 {
	  margin-right: 109px;
	}
  
	.u-section-2 .u-line-1 {
	  width: 340px;
	}
  }.u-section-3 .u-sheet-1 {
	min-height: 1172px;
  }
  
  .u-section-3 .u-text-1 {
	margin: 24px 0 0;
  }
  
  @media (max-width: 1199px) {
	.u-section-3 .u-sheet-1 {
	  min-height: 940px;
	}
  }
  
  @media (max-width: 991px) {
	.u-section-3 .u-sheet-1 {
	  min-height: 886px;
	}
  }
  
  @media (max-width: 767px) {
	.u-section-3 .u-sheet-1 {
	  min-height: 844px;
	}
  }
  
  @media (max-width: 575px) {
	.u-section-3 .u-sheet-1 {
	  min-height: 1172px;
	}
  }.u-section-4 .u-sheet-1 {
	min-height: 638px;
  }
  
  .u-section-4 .u-slider-1 {
	min-height: 584px;
	width: 1014px;
	margin: 19px auto 36px;
  }
  
  .u-section-4 .u-carousel-indicators-1 {
	position: absolute;
	bottom: 10px;
  }
  
  .u-section-4 .u-container-layout-1 {
	padding: 30px 50px;
  }
  
  .u-section-4 .u-image-1 {
	height: 532px;
	margin-top: -8px;
	margin-bottom: 0;
  }
  
  .u-section-4 .u-container-layout-2 {
	padding: 30px 50px;
  }
  
  .u-section-4 .u-image-2 {
	height: 509px;
	margin-top: 0;
	margin-bottom: 0;
  }
  
  .u-section-4 .u-container-layout-3 {
	padding: 30px 50px;
  }
  
  .u-section-4 .u-image-3 {
	height: 524px;
	margin-top: 0;
	margin-bottom: 0;
  }
  
  .u-section-4 .u-carousel-control-1 {
	width: 50px;
	height: 50px;
	background-image: none;
  }
  
  .u-section-4 .u-carousel-control-2 {
	width: 50px;
	height: 50px;
	background-image: none;
  }
  
  @media (max-width: 1199px) {
	.u-section-4 .u-slider-1 {
	  height: auto;
	  width: 940px;
	}
  }
  
  @media (max-width: 991px) {
	.u-section-4 .u-slider-1 {
	  width: 720px;
	}
  
	.u-section-4 .u-container-layout-1 {
	  padding-left: 30px;
	  padding-right: 30px;
	}
  
	.u-section-4 .u-container-layout-2 {
	  padding-left: 30px;
	  padding-right: 30px;
	}
  
	.u-section-4 .u-container-layout-3 {
	  padding-left: 30px;
	  padding-right: 30px;
	}
  }
  
  @media (max-width: 767px) {
	.u-section-4 .u-slider-1 {
	  width: 540px;
	}
  
	.u-section-4 .u-container-layout-1 {
	  padding-left: 10px;
	  padding-right: 10px;
	}
  
	.u-section-4 .u-container-layout-2 {
	  padding-left: 10px;
	  padding-right: 10px;
	}
  
	.u-section-4 .u-container-layout-3 {
	  padding-left: 10px;
	  padding-right: 10px;
	}
  }
  
  @media (max-width: 575px) {
	.u-section-4 .u-slider-1 {
	  width: 340px;
	}
  }.u-section-5 .u-sheet-1 {
	min-height: 611px;
  }
  
  .u-section-5 .u-text-1 {
	font-weight: 700;
	font-size: 1.875rem;
	width: 567px;
	margin: 60px auto 0;
  }
  
  .u-section-5 .u-line-1 {
	width: 100px;
	height: 3px;
	margin: 30px auto 0 520px;
  }
  
  .u-section-5 .u-list-1 {
	min-height: 375px;
	grid-template-columns: calc(25% - 8px) calc(25% - 8px) calc(25% - 8px) calc(25% - 8px);
	grid-gap: 10px 10px;
	margin: 30px auto 60px 0;
  }
  
  .u-section-5 .u-container-layout-1 {
	padding: 10px;
  }
  
  .u-section-5 .u-image-1 {
	height: 275px;
	margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-2 {
	margin: 20px 104px 0 0;
  }
  
  .u-section-5 .u-text-3 {
	font-weight: 700;
	margin: 20px 0 0;
  }
  
  .u-section-5 .u-container-layout-2 {
	padding: 10px;
  }
  
  .u-section-5 .u-image-2 {
	height: 275px;
	margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-4 {
	margin: 20px 104px 0 0;
  }
  
  .u-section-5 .u-text-5 {
	font-weight: 700;
	margin: 20px 0 0;
  }
  
  .u-section-5 .u-container-layout-3 {
	padding: 10px;
  }
  
  .u-section-5 .u-image-3 {
	height: 275px;
	margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-6 {
	margin: 20px 104px 0 0;
  }
  
  .u-section-5 .u-text-7 {
	font-weight: 700;
	margin: 20px 0 0;
  }
  
  .u-section-5 .u-container-layout-4 {
	padding: 10px;
  }
  
  .u-section-5 .u-image-4 {
	height: 275px;
	margin: 0 auto 0 0;
  }
  
  .u-section-5 .u-text-8 {
	margin: 20px 104px 0 0;
  }
  
  .u-section-5 .u-text-9 {
	font-weight: 700;
	margin: 20px 0 0;
  }
  
  @media (max-width: 1199px) {
	.u-section-5 .u-sheet-1 {
	  min-height: 545px;
	}
  
	.u-section-5 .u-list-1 {
	  min-height: 309px;
	  grid-template-columns: repeat(4, calc(25% - 8px));
	  height: auto;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-image-1 {
	  height: 223px;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-text-2 {
	  margin-right: 0;
	}
  
	.u-section-5 .u-image-2 {
	  height: 223px;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-text-4 {
	  margin-right: 0;
	}
  
	.u-section-5 .u-image-3 {
	  height: 223px;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-text-6 {
	  margin-right: 0;
	}
  
	.u-section-5 .u-image-4 {
	  height: 223px;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-text-8 {
	  margin-right: 0;
	}
  }
  
  @media (max-width: 991px) {
	.u-section-5 .u-sheet-1 {
	  min-height: 1183px;
	}
  
	.u-section-5 .u-line-1 {
	  margin-left: auto;
	}
  
	.u-section-5 .u-list-1 {
	  min-height: 947px;
	  grid-template-columns: repeat(2, calc(((100% - 720px) / 2)  + 355px));
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-image-1 {
	  height: 353px;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-image-2 {
	  height: 353px;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-image-3 {
	  height: 353px;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-image-4 {
	  height: 353px;
	  margin-right: initial;
	  margin-left: initial;
	}
  }
  
  @media (max-width: 767px) {
	.u-section-5 .u-text-1 {
	  width: 540px;
	}
  
	.u-section-5 .u-list-1 {
	  grid-template-columns: 100%;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-image-1 {
	  height: 540px;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-image-2 {
	  height: 540px;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-image-3 {
	  height: 540px;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-image-4 {
	  height: 540px;
	  margin-right: initial;
	  margin-left: initial;
	}
  }
  
  @media (max-width: 575px) {
	.u-section-5 .u-text-1 {
	  font-size: 1.5rem;
	  width: 340px;
	}
  
	.u-section-5 .u-image-1 {
	  height: 332px;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-image-2 {
	  height: 332px;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-image-3 {
	  height: 332px;
	  margin-right: initial;
	  margin-left: initial;
	}
  
	.u-section-5 .u-image-4 {
	  height: 332px;
	  margin-right: initial;
	  margin-left: initial;
	}
  }.u-section-6 .u-sheet-1 {
	min-height: 20px;
  }
  
  @media (max-width: 1199px) {
	.u-section-6 .u-sheet-1 {
	  min-height: 766px;
	}
  }
  